<template>
  <gl-avatar-link target="blank" :href="user.webUrl">
    <gl-avatar-labeled
      :size="32"
      :src="user.avatarUrl"
      :entity-name="user.name"
      :label="user.name"
      :sub-label="user.username"
      :alt="'Avatar of ' + user.name"
      loading="lazy"
    />
  </gl-avatar-link>
</template>
<script>
import GlAvatarLabeled from "@gitlab/ui/src/components/base/avatar_labeled/avatar_labeled.vue";
import GlAvatarLink from "@gitlab/ui/src/components/base/avatar_link/avatar_link.vue";

export default {
  name: "avatar",
  components: { GlAvatarLabeled, GlAvatarLink },
  props: {
    user: { type: Object },
  },
};
</script>
