<template>
  <footer class="sticky-section">
    Repo:
    <a href="https://gitlab.com/leipert-projects/maintainer-workload">
      leipert-projects/maintainer-workload
    </a>
    &middot; Last build:
    <timeago :datetime="lastBuild" :key="'last' + lastBuild" />
    &middot;
    <a
      href="https://gitlab.com/leipert-projects/maintainer-workload/-/pipeline_schedules"
      >Next build</a
    >:
    <timeago :datetime="nextBuild" :key="'next' + nextBuild" />
  </footer>
</template>
<script>
import Timeago from "./timeago/TimeAgo.vue";
export default {
  props: {
    lastBuild: {
      type: String,
    },
    nextBuild: {
      type: String,
    },
  },
  components: {
    Timeago,
  },
};
</script>
