<template>
  <gl-card :header-class="{ 'header-average': user.type.includes('average') }">
    <template #header>
      <div
        class="gl-display-flex gl-align-items-center gl-justify-content-space-between"
      >
        <avatar :user="user" />
        <div class="gl-display-flex gl-justify-content-end flex-wrap">
          <UserType :key="t" class="gl-mb-2" v-for="t in user.type" :type="t" />
        </div>
      </div>
    </template>
    <template #default>
      <div class="gl-display-flex gl-align-items-center">
        <status class="gl-flex-grow-1" :status="status" />
        <tz-offset :user="user" :local-time="localTime" />
      </div>
      <hr />
      MR review assignment events
      <stats
        :data-points="assignEvents.slice(-7)"
        :person-power="user.personPower"
        label="7"
      />
      <hr />
      <stats
        :data-points="assignEvents"
        :person-power="user.personPower"
        label="30"
      />
      <hr />
      <details v-if="mrs.length">
        <summary class="gl-font-weight-bold">
          {{ mrs.length }}
          MR reviews currently assigned
        </summary>
        <ul>
          <li :key="mr.webUrl" v-for="mr in mrs">
            <a target="_blank" :href="mr.webUrl" rel="noopener noreferrer">{{
              mr.reference
            }}</a>
          </li>
        </ul>
      </details>
      <span v-else-if="mrs.average > 0" class="gl-font-weight-bold">
        {{ mrs.average }} MR reviews currently assigned
      </span>
      <span v-else class="gl-font-weight-bold">
        No MR reviews currently assigned
      </span>
    </template>
  </gl-card>
</template>
<script>
import GlCard from "@gitlab/ui/src/components/base/card/card.vue";
import Avatar from "./Avatar.vue";
import Stats from "./Stats.vue";
import Status from "./Status.vue";
import UserType from "./UserType.vue";
import TzOffset from "./TzOffset.vue";

export default {
  name: "Person",
  components: { UserType, Avatar, GlCard, Stats, Status, TzOffset },
  props: {
    assignEvents: {},
    status: {},
    mrs: {},
    user: {},
    localTime: {},
  },
};
</script>
