<template>
  <fragment>
    <svg
      ref="sparkline"
      width="150"
      height="40"
      stroke-width="2"
      stroke="#404040"
      fill="white"
    />
    <div ref="tooltip" class="sparkline--tooltip" />
  </fragment>
</template>
<script>
import { Fragment } from "vue-fragment";
import sparkline from "@fnando/sparkline";

export default {
  components: {
    Fragment,
  },
  mounted() {
    sparkline(this.$refs.sparkline, this.data, {
      onmousemove: this.onmousemove,
      onmouseout: this.onmouseout,
    });
  },
  props: {
    data: {},
  },
  methods: {
    onmousemove(event, datapoint) {
      const tooltip = this.$refs.tooltip;
      const date = new Date(datapoint.date)
        .toUTCString()
        .replace(/^.*?, (.*?) \d{2}:\d{2}:\d{2}.*?$/, "$1");

      tooltip.style.display = "block";
      tooltip.textContent = `${date}: ${datapoint.value}`;
      tooltip.style.top = `${event.clientY}px`;
      tooltip.style.left = `${event.clientX + 20}px`;
    },

    onmouseout() {
      const tooltip = this.$refs.tooltip;
      tooltip.style.display = "none";
      tooltip.textContent = "";
    },
  },
};
</script>
