<template>
  <div
    v-if="dataPoints && dataPoints.length"
    class="gl-font-weight-bold gl-display-flex gl-align-items-center gl-justify-content-space-between"
  >
    <div class="stats-overview gl-mr-4">{{ label }}<br />days</div>
    <div class="stats-overview gl-mr-4">{{ count }}<br />events</div>
    <div class="stats-overview gl-mr-4">
      <sup>{{ average }}</sup
      >&frasl;<sub>day</sub>
    </div>
    <Sparkline v-if="count > 0" :data="dataPoints" />
  </div>
</template>
<script>
import Sparkline from "./Sparkline.vue";

export default {
  name: "stats",
  components: { Sparkline },
  props: {
    personPower: {
      type: Number,
      default: 1,
    },
    dataPoints: { type: Array },
    label: {
      type: String,
    },
  },
  computed: {
    count() {
      return this.dataPoints.reduce((agg, { value }) => {
        return agg + value;
      }, 0);
    },
    average() {
      return (this.count / this.personPower / this.dataPoints.length).toFixed(
        1
      );
    },
  },
};
</script>
