<script>
export default {
  functional: true,
  name: "status",
  components: {},
  props: {
    status: { type: Object },
  },

  render(createElement, context) {
    const { status } = context.props;

    const renderedStatus = [
      "Status:",
      status.emoji || status.messageHtml
        ? [status.emoji, status.messageHtml].join(" ")
        : '<span class="text-muted">&lt;no status&gt;</span>',
    ].join(" ");

    return [
      createElement("div", {
        ...context.data,
        domProps: { innerHTML: renderedStatus },
      }),
    ];
  },
};
</script>
