<template>
  <abbr class="stats-overview" title="Local time and UTC offset"
    >{{ localTimeFormatted }}<br />{{ fromUTC }}</abbr
  >
</template>
<script>
const pad = (num) => `${num}`.padStart(2, "0");

const formatHours = (timeInMinutes, hourFormat24 = true) => {
  const minutes = Math.round(timeInMinutes % 60);
  let hours = Math.floor(timeInMinutes / 60);
  let postfix = "";
  if (!hourFormat24) {
    postfix = ` ${hours < 12 ? "am" : "pm"}`;
    hours = hours % 12 || 12;
  }
  return `${pad(hours)}:${pad(minutes)}${postfix}`;
};

export default {
  props: {
    user: {
      type: Object,
    },
    localTime: {
      type: Number,
    },
  },
  computed: {
    hourFormat24() {
      return this.$root.$children[0].hourFormat24;
    },
    localTimeFormatted() {
      return formatHours(this.localTime || 0, this.hourFormat24);
    },
    offset() {
      return (this.user && this.user.tzOffset) || 0;
    },
    fromUTC() {
      const prefix = this.offset < 0 ? "-" : "+";

      return `UTC${prefix}${formatHours(Math.abs(this.offset))}`;
    },
  },
};
</script>
