<template>
  <gl-label
    :background-color="color"
    :title="type"
    :scoped="type.includes('::')"
    size="sm"
  />
</template>
<script>
import GlLabel from "@gitlab/ui/src/components/base/label/label.vue";

export default {
  name: "UserType",
  components: { GlLabel },
  props: {
    type: {},
  },
  computed: {
    color() {
      const [, bar] = this.type.split(/::/);
      switch (bar) {
        case "frontend":
          return "#4fc08d";
        case "database":
          return "#336791";
        case "qa":
          return "#D9534F";
        case "docs":
          return "#428BCA";
        case "backend":
          return "#D10069";
        default:
          return "#777777";
      }
    },
  },
};
</script>
