<template>
  <abbr v-once ref="datetime" :title="datetime" :datetime="datetime">{{
    datetime
  }}</abbr>
</template>
<script>
import render from "./timeago";
export default {
  props: {
    datetime: {
      type: String,
      required: true,
    },
  },
  mounted() {
    render(this.$refs.datetime);
  },
};
</script>
