/*! purgecss start ignore */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
  font-weight: 300;
}

h1,
form,
section {
  margin: 1rem 1rem;
}

.gone {
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
  margin: 10rem 0;
  font-size: 2rem;
}

.gone h1 {
  font-size: 5rem;
}

@media (min-width: 42rem) {
  body {
    padding: 0 5rem;
  }

  h1,
  form,
  main,
  section {
    margin: 1rem 0;
  }
}

.reviewers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reviewers .card {
  width: 23rem;
  margin: 0.5rem;
}

.reviewers .person--fade {
  opacity: 0.2;
}

.reviewers .person--hide {
  display: none;
}

fieldset > * {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.sparkline--tooltip {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 2px 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 9999;
}

.sparkline--cursor {
  stroke: #f5d9a8;
}

.sparkline--spot {
  fill: #ae1800;
  stroke: #ae1800;
}

.sticky-section {
  background: white;
  border: 1px solid gray;
  position: sticky;
  bottom: 0;
  padding: 1rem;
}

/* Force icons to be rendered as a circle */
.gl-avatar-link .gl-avatar {
  flex-shrink: 0;
  flex-grow: 0;
}

.header-average {
  background-color: #fdf1dd;
}

.stats-overview {
  font-weight: bold;
  font-size: 0.75rem;
  text-align: center;
  flex-shrink: 0;
  white-space: nowrap;
}

.stats-overview sub,
.stats-overview sup {
  font-size: 0.75rem;
}
/*! purgecss end ignore */
