<template>
  <fragment>
    <h2>GitLab Review Workload Dashboard</h2>
    <section class="introduction">
      This project shows the current status of maintainers and assignment events
      in the last 30 days. Methodology of this project:
      <ol>
        <li>Retrieve all Merge Requests</li>
        <li>Parse system notes for Assignment events</li>
        <li>
          For each Assignment of an MR that the individual
          <em>hasn't</em> authored themselves, increase the count by one.
        </li>
      </ol>
    </section>
    <form>
      <div class="gl-display-flex gl-flex-wrap" v-if="types.length">
        <gl-form-group
          label="Select roles"
          label-size="sm"
          description="Select roles you want to display"
        >
          <fieldset>
            <gl-button
              v-for="key in types"
              :key="key"
              :variant="hidden.includes(key) ? 'default' : 'info'"
              @click="toggleVisibility(key)"
            >
              <user-type :type="key" />
            </gl-button>
            <gl-button @click="hidden = []">All</gl-button>
            <gl-button @click="hidden = [...types]">None</gl-button>
          </fieldset>
        </gl-form-group>
        <gl-form-group
          class="gl-sm-w-auto"
          label="Roulette"
          label-size="sm"
          description="Pick random, available reviewers"
        >
          <gl-button variant="success" @click="pickMaintainer">
            Spin the wheel!
          </gl-button>
        </gl-form-group>
        <gl-form-group
          class="gl-sm-w-auto"
          label="Order by"
          label-size="sm"
          description="Change the way the reviewers are sorted"
        >
          <gl-button-group>
            <gl-dropdown :text="$options.orderOptions[sortKey]">
              <gl-dropdown-item
                :key="key"
                v-for="(value, key) in $options.orderOptions"
                @click="sortKey = key"
              >
                {{ value }}
              </gl-dropdown-item>
            </gl-dropdown>
            <gl-button v-if="order === -1" @click="order = 1">Desc</gl-button>
            <gl-button v-else @click="order = -1">Asc</gl-button>
          </gl-button-group>
        </gl-form-group>
        <gl-form-group
          class="gl-sm-w-auto"
          label="Unavailable folks"
          label-size="sm"
          description="Decide whether to show them or not"
        >
          <gl-button-group>
            <gl-button
              v-for="key in ['show', 'fade', 'hide']"
              :key="key"
              :variant="mode === key ? 'info' : 'default'"
              @click="mode = key"
            >
              {{ key }}
            </gl-button>
          </gl-button-group>
        </gl-form-group>
        <gl-form-group
          class="gl-sm-w-auto"
          label="Work Hours"
          label-size="sm"
          description=""
        >
          <gl-form-checkbox v-model="hideNonWorkHours"
            >Hide people if it is outside their work hours (9 to
            5)</gl-form-checkbox
          >
          <gl-form-checkbox v-model="hourFormat24"
            >24 hour format</gl-form-checkbox
          >
        </gl-form-group>
      </div>
    </form>
    <section class="reviewers">
      <Person
        v-for="person in currentlyRenderedFolks"
        :class="person.available ? '' : `person--${mode}`"
        :key="person.key"
        :user="person.user"
        :assignEvents="(person.stats && person.stats.assignEvents) || []"
        :mrs="person.mrs"
        :status="person.status"
        :local-time="person.localTime"
      />
      <gl-alert v-if="sortedFolks.length === 0" :dismissible="false">
        Please select at least one category for the search.
      </gl-alert>
    </section>
    <section v-if="errors">
      <pre>{{ errors }}</pre>
    </section>
    <custom-footer
      v-if="nextBuild || lastBuild"
      :last-build="lastBuild"
      :next-build="nextBuild"
    />
  </fragment>
</template>
<script>
import get from "lodash/get";
import GlAlert from "@gitlab/ui/src/components/base/alert/alert.vue";
import GlDropdown from "@gitlab/ui/src/components/base/dropdown/dropdown.vue";
import GlDropdownItem from "@gitlab/ui/src/components/base/dropdown/dropdown_item.vue";
import GlButtonGroup from "@gitlab/ui/src/components/base/button_group/button_group.vue";
import GlFormGroup from "@gitlab/ui/src/components/base/form/form_group/form_group.vue";
import GlFormCheckbox from "@gitlab/ui/src/components/base/form/form_checkbox/form_checkbox.vue";
import GlButton from "@gitlab/ui/src/components/base/button/button.vue";
import { Fragment } from "vue-fragment";

import Person from "./components/Person.vue";
import UserType from "./components/UserType.vue";
import Footer from "./components/Footer.vue";

function buildSortFn(sortKey, order = 1, eqlSortFn = () => 0) {
  return (a, b) => {
    let keyA = get(a, sortKey);
    let keyB = get(b, sortKey);

    if (typeof keyA === "string") {
      keyA = keyA.toLocaleLowerCase();
    }
    if (typeof keyB === "string") {
      keyB = keyB.toLocaleLowerCase();
    }

    if (keyA === keyB) {
      return eqlSortFn(a, b);
    }

    return (keyB < keyA ? 1 : -1) * order;
  };
}

const localStorageMixin = (defaults, itemKey = "settings") => {
  const keys = Object.keys(defaults);
  return {
    data() {
      let settings = defaults;

      try {
        settings = JSON.parse(localStorage.getItem(itemKey)) || settings;

        Object.keys(defaults).forEach((x) => {
          if (!settings.hasOwnProperty(x)) {
            settings[x] = defaults[x];
          }
        });
      } catch (e) {}

      return settings;
    },
    watch: Object.fromEntries(
      keys.map((key) => [
        key,
        function () {
          this.updateSettings();
        },
      ])
    ),
    methods: {
      updateSettings() {
        const settings = Object.fromEntries(
          keys.map((key) => [key, this[key] || defaults[key]])
        );

        localStorage.setItem(itemKey, JSON.stringify(settings));
      },
    },
  };
};

export default {
  props: {
    statsPromise: { type: Promise, required: true },
  },
  mixins: [
    localStorageMixin(
      {
        hidden: [],
        sortKey: "user.name",
        mode: "fade",
        order: 1,
        hideNonWorkHours: false,
        hourFormat24: false,
      },
      "settings-v3"
    ),
  ],
  orderOptions: {
    "user.name": "Name",
    "stats.avg7": "Assign events last 7 days",
    "stats.avg30": "Assign events last 30 days",
    "mrs.length": "Currently assigned MRs",
    localTime: "Local time",
    "user.tzOffset": "Timezone",
  },
  data() {
    return {
      lastBuild: "",
      nextBuild: "",
      stats: [],
      slice: 4,
      currentTime: new Date(),
    };
  },
  watch: {
    settings(newSettings) {
      localStorage.setItem("settings", JSON.stringify(newSettings));
    },
    sortedFolks(newVal, oldVal) {
      if (newVal && newVal.length < oldVal.length) {
        this.slice = Math.max(Math.min(this.slice, newVal.length), 4);
      }
    },
  },
  async mounted() {
    const { people, lastBuild, nextBuild } = await this.statsPromise;
    this.stats = Object.freeze(people);
    this.lastBuild = lastBuild;
    this.nextBuild = nextBuild;
    this.updateDateTime();
  },
  updated() {
    const max = this.sortedFolks.length;
    if (this.slice < max) {
      requestAnimationFrame(() => {
        this.slice = Math.min(max, this.slice + 4);
      });
    }
  },
  components: {
    GlFormGroup,
    GlFormCheckbox,
    CustomFooter: Footer,
    Fragment,
    UserType,
    GlAlert,
    GlButton,
    GlButtonGroup,
    GlDropdown,
    GlDropdownItem,
    Person,
  },
  computed: {
    people() {
      return Object.freeze(this.stats.filter((entry) => entry && entry.user));
    },
    errors() {
      const errors = this.stats.filter(
        (x) => x && x.type && x.type === "error"
      );

      if (errors.length) {
        return `Errors:\n${JSON.stringify(errors, null, 2)}`;
      }

      return null;
    },
    types() {
      return [
        ...new Set(
          this.people.flatMap((x) => {
            return x.user.type;
          })
        ),
      ].sort((a, b) => {
        const [typeA, categoryA] = a.split(/::/);
        const [typeB, categoryB] = b.split(/::/);

        if (categoryA === categoryB) {
          if (typeA === typeB) {
            return 0;
          }
          return typeA < typeB ? -1 : 1;
        }
        return categoryA < categoryB ? -1 : 1;
      });
    },
    sortedFolks() {
      const currTime = this.currentTime.getTime();
      return this.people
        .filter((person) => {
          return person.user.type.some((x) => !this.hidden.includes(x));
        })
        .map((entry) => {
          const offset = entry.user.tzOffset || 0;

          const curr = new Date(currTime);
          curr.setMinutes(curr.getMinutes() + offset);

          entry.localTime = curr.getUTCHours() * 60 + curr.getUTCMinutes();

          entry.available = entry.status.available;

          if (this.hideNonWorkHours && !entry.user.type.includes("average")) {
            entry.available =
              entry.available &&
              entry.localTime >= 9 * 60 &&
              entry.localTime <= 17 * 60;
          }

          return entry;
        })
        .sort(buildSortFn(this.sortKey, this.order));
    },
    currentlyRenderedFolks() {
      return this.sortedFolks.slice(0, this.slice);
    },
  },
  methods: {
    updateDateTime() {
      this.currentTime = new Date();

      this.$options.timer = setTimeout(
        this.updateDateTime,
        1000 * (60 - this.currentTime.getSeconds())
      );
    },
    toggleVisibility(key) {
      let index = this.hidden.indexOf(key);

      if (index >= 0) {
        this.hidden.splice(index, 1);
      } else {
        this.hidden.push(key);
      }
    },
    pickMaintainer() {
      alert(
        Object.values(this.types)
          .sort()
          .map((type) => {
            if (type === "average") {
              return false;
            }
            const list = this.people.filter(
              (person) =>
                !person.user.type.includes("average") &&
                person.user.type.includes(type) &&
                person.status.available
            );
            const random = list[Math.floor(Math.random() * list.length)];

            if (random && random.user) {
              return `${type}: ${random.user.name} – ${random.user.username}`;
            }

            return false;
          })
          .filter(Boolean)
          .join("\n")
      );
    },
  },
};
</script>
